.mailerpress-stepper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;

  header {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    height: 40px;

    .step {
      position: relative;
      flex: 1;
      display: flex;
      align-items: center;

      &.active {
        .step-counter {
          background: var(--wp-admin-theme-color)
        }
      }

      &.completed {
        .step-counter > span {
          display: none;
        }

        svg {
          fill: white
        }
      }

      .step-counter {
        position: absolute;
        background: #000;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
      }

      .step-name {
        position: absolute;
        left: 40px;
        background: #ffffff;
        z-index: 14;
        color: #000000;
        padding: 4px 8px 4px 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
      }

      &:after {
        content: "";
        width: calc(100% - 40px);
        height: 1px;
        background: #000;
        position: absolute;
        left: 48px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .body {
    flex: 1;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding-top: 16px;
    }
  }
}